@model IEnumerable<GymDomain.Model.User>

@{
    ViewData["Title"] = "User List";
}

<h2 class="mb-4">Registered Users</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Role</td>
        </tr>
    }
    </tbody>
</table>