html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-checkbox {
  accent-color: black; 
  width: 18px;
  height: 18px;
}
.custom-checkbox {
  accent-color: black;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.btn {
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

body::before {
  z-index: 0;
}

.welcome-container {
  position: relative;
  z-index: 1;
}




